name: NuGet Building Blocks Tests

on:
  push:
    branches: [ master ]
    
  pull_request:
    branches: [ master ]
    paths:
      - "BuildingBlocks/dotnet/**"
      - ".github/workflows/nuget-buildingblock-tests.yml"

  workflow_dispatch:

env:
  API_KEY: ${{ secrets.NUGET_API_KEY }}
  VERSION: 1.0.0.${{ github.run_number}}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
           dotnet-version: 6.0.*
  
      - name: publish on version change
        id: publish_nuget
        uses: rohith/publish-nuget@v2
        with:
          PROJECT_FILE_PATH: BuildingBlocks/dotnet/BuildingBlocks.Tests/BuildingBlocks.Tests.csproj
          PACKAGE_NAME: BuildingBlocks.Tests
          VERSION_STATIC: ${{ env.VERSION }}
          
          # Flag to toggle git tagging, enabled by default
          # TAG_COMMIT: true
          
          # Format of the git tag, [*] gets replaced with actual version
          # TAG_FORMAT: v*
          
          NUGET_KEY: ${{env.API_KEY}}
          
          # NuGet server uri hosting the packages, defaults to https://api.nuget.org
          # NUGET_SOURCE: https://api.nuget.org
          
          # Flag to toggle pushing symbols along with nuget package to the server, disabled by default
          # INCLUDE_SYMBOLS: false

