name: Orgs API Dev Deployment 

on:  
  workflow_dispatch:

env:
  APP_BUILD_CONTEXT: bcc-orgs
  APP_DOCKERFILE: bcc-orgs/devops/Dockerfile
  IMAGE_NAME: bcc-orgs

jobs:
  build:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and deploy
      uses: ./.github/actions/deploy-cloud-run-app
      with:
        projectId: ${{ secrets.GOOGLE_PROJECT_ID }}
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        buildContext: bcc-orgs
        dockerfilePath:  bcc-orgs/devops/Dockerfile
        imageName: bcc-orgs
        registryBaseUrl: ${{secrets.REGISTRY_BASE_URL}}
        registryName: ${{secrets.REGISTRY_NAME}}
        serviceName: ${{secrets.ORG_SERVICE_NAME}}
        serviceLocation: ${{secrets.ORG_SERVICE_LOCATION}}


