name: Orgs API Staging Deployment 

on:  
  push:
    branches: 
      [ master ]
    paths:
    - bcc-orgs/**
  workflow_dispatch:

jobs:
  build:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: staging

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and deploy
      uses: ./.github/actions/deploy-cloud-run-app
      with:
        projectId: ${{ secrets.GOOGLE_PROJECT_ID }}
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        buildContext: bcc-orgs
        dockerfilePath:  bcc-orgs/devops/Dockerfile
        imageName: bcc-orgs
        registryBaseUrl: ${{secrets.REGISTRY_BASE_URL}}
        registryName: ${{secrets.REGISTRY_NAME}}
        serviceName: ${{secrets.ORGS_SERVICE_NAME}}
        serviceRegion: ${{secrets.ORGS_SERVICE_REGION}}
  migrate:
    name: Migrate database
    runs-on: ubuntu-latest
    environment: staging
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Migrate database
      uses: ./.github/actions/postgres-migrations
      with:
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        dbInstance: ${{ secrets.SQL_INSTANCE_CONNECTION }}
        dbName: ${{ secrets.ORGS_DB_NAME }}
        dbUsername: ${{ secrets.ORGS_DB_USERNAME }}
        dbPassword: ${{ secrets.ORGS_DB_PASSWORD }}
