name: Orgs API Dev Deployment 

on:  
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build and test
      env:
        AUTH0_ISSUER: ${{ secrets.AUTH0_ISSUER }}
        AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
        AUTH0_CLIENT_ID: ${{ secrets.AUTH0_ORGS_CLIENT_ID }}
        AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_ORGS_CLIENT_SECRET }}
      run: |
        ./bcc-orgs/scripts/create-test-docker.sh

  build:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and deploy
      uses: ./.github/actions/deploy-cloud-run-app
      with:
        projectId: ${{ secrets.GOOGLE_PROJECT_ID }}
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        buildContext: bcc-orgs
        dockerfilePath:  bcc-orgs/devops/Dockerfile
        imageName: bcc-orgs
        registryBaseUrl: ${{secrets.REGISTRY_BASE_URL}}
        registryName: ${{secrets.REGISTRY_NAME}}
        serviceName: ${{secrets.ORGS_SERVICE_NAME}}
        serviceRegion: ${{secrets.ORGS_SERVICE_REGION}}
  migrate:
    name: Migrate database
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Migrate database
      uses: ./.github/actions/postgres-migrations
      with:
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        dbInstance: ${{ secrets.SQL_INSTANCE_CONNECTION }}
        dbName: ${{ secrets.ORGS_DB_NAME }}
        dbUsername: ${{ secrets.ORGS_DB_USERNAME }}
        dbPassword: ${{ secrets.ORGS_DB_PASSWORD }}
