name: Orgs API Dev Deployment 

on:  
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@master
    # - name: Cache Docker layers
    #   uses: actions/cache@v2
    #   with:
    #     path: /tmp/.buildx-cache-test
    #     key: ${{ runner.os }}-build-test-${{ hashFiles('bcc-orgs/go.sum') }}
    #     restore-keys: |
    #       ${{ runner.os }}-build-test-
    - name: Build docker image
      uses: docker/build-push-action@v2
      with:
        context: bcc-orgs
        file:  bcc-orgs/devops/test.Dockerfile
        push: false
        load: true
        tags: orgs_api_test:latest
        cache-from: type=gha
        cache-to: type=gha
    - name: Run tests with docker-compose
      env:
        AUTH0_ISSUER: ${{ secrets.AUTH0_ISSUER }}
        AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
        AUTH0_CLIENT_ID: ${{ secrets.AUTH0_ORGS_CLIENT_ID }}
        AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_ORGS_CLIENT_SECRET }}
      run: |
        docker-compose -f bcc-orgs/devops/test.docker-compose.yml run --rm orgs_api_test

  migrate:
    name: Migrate database
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Migrate database
      uses: ./.github/actions/postgres-migrations
      with:
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        dbInstance: ${{ secrets.SQL_INSTANCE_CONNECTION }}
        dbName: ${{ secrets.ORGS_DB_NAME }}
        dbUsername: ${{ secrets.ORGS_DB_USERNAME }}
        dbPassword: ${{ secrets.ORGS_DB_PASSWORD }}

  build:
    name: Build and publish image
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and publish
      uses: ./.github/actions/build-go-app
      with:
        projectId: ${{ secrets.GOOGLE_PROJECT_ID }}
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        buildContext: bcc-orgs
        dockerfilePath:  bcc-orgs/devops/Dockerfile
        imageName: bcc-orgs
        registryBaseUrl: ${{secrets.REGISTRY_BASE_URL}}
        registryName: ${{secrets.REGISTRY_NAME}}

  deploy:
    needs: [build]
    name: Deploy image to cloud run
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Deploy
      uses: ./.github/actions/deploy-cloud-run-app
      with:
        projectId: ${{ secrets.GOOGLE_PROJECT_ID }}
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        imageName: bcc-orgs
        registryBaseUrl: ${{secrets.REGISTRY_BASE_URL}}
        registryName: ${{secrets.REGISTRY_NAME}}
        serviceName: ${{secrets.ORGS_SERVICE_NAME}}
        serviceRegion: ${{secrets.ORGS_SERVICE_REGION}}
