name: Orgs API Dev Deployment 

on:  
  workflow_dispatch:

jobs:
  build:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and deploy
      uses: ./.github/actions/deploy-cloud-run-app
      with:
        projectId: ${{ secrets.GOOGLE_PROJECT_ID }}
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        buildContext: bcc-orgs
        dockerfilePath:  bcc-orgs/devops/Dockerfile
        imageName: bcc-orgs
        registryBaseUrl: ${{secrets.REGISTRY_BASE_URL}}
        registryName: ${{secrets.REGISTRY_NAME}}
        serviceName: ${{secrets.ORGS_SERVICE_NAME}}
        serviceRegion: ${{secrets.ORGS_SERVICE_REGION}}
  migrate:
    env:
      GOPATH: ${{ github.workspace }}
    name: Migrate database
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - uses: actions/setup-go@v2
    - run: go install -tags "nomymysql nomysql nosqlite3" github.com/pressly/goose/v3/cmd/goose@latest
      shell: bash
    - run: goose
      shell: bash


