name: Orgs API Dev Deployment 

on:  
  workflow_dispatch:

jobs:
  build:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and deploy
      uses: ./.github/actions/deploy-cloud-run-app
      with:
        projectId: ${{ secrets.GOOGLE_PROJECT_ID }}
        googleCredentials: ${{ secrets.GOOGLE_CREDENTIALS }}
        buildContext: bcc-orgs
        dockerfilePath:  bcc-orgs/devops/Dockerfile
        imageName: bcc-orgs
        registryBaseUrl: ${{secrets.REGISTRY_BASE_URL}}
        registryName: ${{secrets.REGISTRY_NAME}}
        serviceName: ${{secrets.ORGS_SERVICE_NAME}}
        serviceRegion: ${{secrets.ORGS_SERVICE_REGION}}
  migrate:
    name: Migrate database
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - uses: actions/setup-go@v3
      with:
        go-version: '>=1.17.0'
    - run: go install -tags "nomymysql nomysql nosqlite3" github.com/pressly/goose/v3/cmd/goose@latest
      shell: bash
    - uses: mattes/gce-cloudsql-proxy-action@v1
      with:
        creds: ${{ secrets.GOOGLE_CREDENTIALS }}
        instance: ${{ secrets.DB_INSTANCE_CONNECTION }}
    - run: goose -dir db/migrations -table schema_migrations postgres "user=${{ secrets.ORGS_DB_USERNAME }} password=${{ secrets.ORGS_DB_PASSWORD }} dbname=${{ secrets.ORGS_DB_NAME }} sslmode=disable" up 
      shell: bash


