name: DEV - Tenants API

on:
  pull_request:
    branches:
      - master
    paths:
      - "bcc-tenants/**"
      - ".github/workflows/tenants-api-dev.yml"

env:
  APP_BUILD_CONTEXT: bcc-tenants
  APP_DOCKERFILE: bcc-tenants/Bcc.Tenants.Api/Dockerfile
  APPLICATION_NAME: tenants-api-dev
  APPLICATION_INSIGHTS: InstrumentationKey=15ed08f4-e214-4e9f-9459-82621aed35b8;IngestionEndpoint=https://westeurope-1.in.applicationinsights.azure.com/
  ENVIRONMENT: Staging
  PORT: 7112

jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - run: gcloud --quiet auth configure-docker ${{ secrets.REGISTRY_BASE_URL }}
          
      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.REGISTRY_BASE_URL }}/${{ secrets.PROJECT_ID}}/${{secrets.REGISTRY_NAME}}/${{ env.APPLICATION_NAME }}:${{ github.sha }}
          context: ${{env.APP_BUILD_CONTEXT}}
          file: ${{env.APP_DOCKERFILE}}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Set up Cloud SDK
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Cloud run deploy
        id: deploy
        run: |
          gcloud run deploy ${{ env.APPLICATION_NAME }} --image ${{ secrets.REGISTRY_BASE_URL }}/${{ secrets.PROJECT_ID}}/${{secrets.REGISTRY_NAME}}/${{ env.APPLICATION_NAME }}:${{ github.sha }} \
          --region=europe-west1 --project=${{ secrets.PROJECT_ID }} --memory=1024M --max-instances=10 --cpu=2 --timeout=120 \ 
          --port=${{ env.PORT }}

      - name: Cloud run serve traffic
        run: gcloud run services update-traffic ${{ env.APPLICATION_NAME }} --to-latest --platform=managed --region=europe-west1
